body {
  background-color: #f4f4f4;  
}

.hidden {
  display: none;
}

.row form {
  width: 100%;
}

.list-group {
  & > .list-group-item {
    padding: .5rem 1.25rem;
    background-color: #42403c;
    color: #fff;
    button {
      float: right;
      color: #fff;
      padding: 0;
    }
  }
  & > div {
    margin-bottom: .2rem;
    background-color: #FFF;
    padding: .6rem;
    border: 1px solid rgba(0, 0, 0, .125);
  }
}


.container {
  .right-nav-title {
    margin-top: -4px;
  }
}
