.btn-stop {
  background-color: rgb(160, 62, 29);
  color: rgb(255, 255, 255);
}

.container {
  .card-body {
    img {
      width: 100%;
      height: 100%;
    }

    .input-status {
      color: #30569D;
    }

    .output-status {
      color: #F88017;
    }
  }
}